.header-auth {
  display: inline-flex;
  text-decoration: none;
}

.header-auth a {
  text-decoration: none;
  text-align: center;
  padding: 0px ;
  color: rgb(3, 3, 3);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.register-input {
  width: 300px;
}
