/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #E01A76;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.auth-container {
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: 1px dotted #000000;
  background-color: #ffffff;
  max-width: 40%;
  padding: 254px 0;
  height: 10%;
  font-size: small;
}
#root 
{
  background-color: brown;
}*/